@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@100;200;300;400;500;600;700&display=swap');

:root {
    --primary: #1532ea;
    --secondary: #56575d;
    --dark: #171926;
    --white: #fff;
}

body {
    font-family: 'Archivo', sans-serif;
    font-size: 1rem;
}

.container {
    margin: 40px 120px;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar-logo {
    font-size: 36px;
    font-weight: 700;
    color: #171926;
    text-decoration: none;
}
.navbar-logo span {
    color: var(--primary);
}
.navbar-list {
    display: flex;
    align-items: center;
    list-style: none;
}

.navbar-list .navbar-link {
    margin: 0px 40px;
    color: var(--secondary);
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
}

.active {
    margin: 0px 40px;
    color: var(--dark);
    font-weight: 700;
}
.btn-register {
    padding: 12px 18px;
    border: none;
    background-color: var(--primary);
    color: white;
    border-radius: 8px;
}
.btn-login {
    padding: 12px 18px;
    border: none;
    background-color: transparent;
    color: var(--dark);
}

.pocket__hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pocket__hero-image-child {
    width: 621px;
}

.pocket__hero-introduction-appstore-img {
    width: 50%;
}

.pocket__hero-introduction-title {
    color: var(--dark);
    font-weight: 700;
    font-size: 54px;
    line-height: 70px;
    letter-spacing: 0.5px;
}
.pocket__hero-introduction-description {
    color: var(--secondary);
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    width: 75%;
    margin-bottom: 32px;
}
.button-primary {
    padding: 12px 40px;
    border: none;
    background-color: var(--primary);
    color: white;
    border-radius: 8px;
    margin-bottom: 30px;
    cursor: pointer;
}
.mt-lg {
    margin-top: 140px;
}
.partnership {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.partnership__title {
    font-size: 42px;
    font-weight: 700;
    color: var(--dark);
    margin: 0;
}

.partnership__description {
    color: var(--secondary);
    font-size: 14px;
    font-weight: 400;
    width: 28%;
    text-align: center;
    line-height: 20px;
    letter-spacing: 0.3px;
}

.partnership__img-wrapper {
    margin-top: 42px;
    display: flex;
    justify-content: center;
}
.partnership__img {
    width: 12%;
    margin: 0px 40px;
    object-fit: contain;
}
.cardinfo-detail {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
.cardinfo {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.cardinfo-detail__wrapper-img {
    width: auto;
}
.cardinfo-detail__img {
    width: 540px;
    object-fit: contain;
}
.cardinfo__wrapper-img {
    width: auto;
    margin-right: 100px;
}

.cardinfo__wrapper-img .cardinfo__img {
    width: 100%;
    object-fit: contain;
}
.cardinfo__wrapper-title .cardinfo__title {
    font-size: 42px;
    font-weight: 700;
    color: var(--dark);
    letter-spacing: 0.3px;
    line-height: 54px;
    margin: 0;
}
.cardinfo__wrapper-title .cardinfo-detail__title {
    font-size: 42px;
    font-weight: 700;
    color: var(--dark);
    letter-spacing: 0.3px;
    line-height: 54px;
    width: 90%;
    margin: 0;
}

.cardinfo__wrapper-title .cardinfo-detail__title .text-primary {
    color: var(--primary)
}

.cardinfo__wrapper-title .cardinfo__description {
    color: var(--secondary);
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 32px 0px;
}
.cardinfo__wrapper-title .cardinfo-detail__description {
    color: var(--secondary);
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 32px 0px;
    width: 70%;
}
.features {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.features__title {
    color: var(--dark);
    font-weight: 700;
    font-size: 42px;
    line-height: 54px;
    letter-spacing: 0.3px;
    margin: 0;
}

.features__description {
    color: var(--secondary);
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    width: 30%;
    text-align: center;
}

.features___card-wrapper {
    display: flex;
    align-items: center;
    margin-top: 40px;
}

.features___card-wrapper .features__card {
    background-color: var(--white);
    box-shadow: 0px 24px 34px rgba(86, 87, 93, 0.15);
    border-radius: 8px;
    padding: 20px;
    margin: 0px 80px;
    text-align: center;
    width: 280px;
}

.features__card-img {
    width: 48px;
    margin-bottom: 16px;
    object-fit: contain;
}

.features__card-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    margin: 0px;
    margin-bottom: 8px;
}

.features__card-desc {
    color: var(--secondary);
    font-weight: 400;
    width: 80%;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.3px;
    margin: auto;
}
